.body {
    margin-left: 264px;
    font-family: Lato;
    background-color: white;
    height: 382px;
    margin-bottom: 32px;
}

.first-header {
    font-weight: 800;
    font-size: 32px;
    line-height: 38.4px;
    margin-top: 96px;
    margin-bottom: 48px;
    height: 38px;
    width: 180px;
}

p {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 415px;
}

.green {
    color: #009966;
    font-weight: 800;
}
