body, html {
    font-family: Lato, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.body {
    background-color: white;
    padding: 24px;
}

.first-header {
    font-weight: 800;
    font-size: 32px;
    line-height: 38.4px;
    margin-top: 48px;
}

.body p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 16px 0;
}

.green {
    color: #009966;
    font-weight: 800;
}

.main {
    background: #666666;
    box-shadow: 0px -8px 0px rgba(153, 153, 153, 0.1);
    padding: 24px;
}

.offsetbox {
    background-color: #ffbf00;
    box-shadow: 0px 8px 0px #cc9900;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 32px;
    margin-top: 24px;
}

.offsetbox h2 {
    font-weight: 800;
    font-size: 24px;
    line-height: 28.8px;
}

.card {
    background-color: white;
    box-shadow: 0px 8px 0px rgba(153, 153, 153, 0.1);
    padding: 24px;
    margin-top: 24px;
}

.card p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 16px 0;
}

/* Tablet styles */
@media (max-width: 768px) {
    .body {
        margin-left: 24px;
        margin-right: 24px;
    }

    .first-header {
        font-size: 28px;
        width: auto;
    }

    .body p {
        font-size: 18px;
    }

    .main {
        padding: 16px;
    }

    .offsetbox h2 {
        font-size: 20px;
    }

    .card p {
        font-size: 16px;
    }
}

/* Mobile styles */
@media (max-width: 390px) {
    .body {
        padding: 16px;
    }

    .first-header {
        font-size: 24px;
        margin-top: 32px;
    }

    .body p {
        font-size: 16px;
    }

    .main {
        padding: 12px;
    }

    .offsetbox h2 {
        font-size: 18px;
    }

    .card {
        padding: 16px;
    }

    .card p {
        font-size: 14px;
    }
}
