@font-face {
  font-family: "Brown";
  src: url("./Assets/fonts/BrownHeavy\ Regular.ttf") format("ttf");
}

@font-face {
  font-family: "BrownHeavy";
  src: url("./Assets/fonts/BrownLight\ Regular.ttf");
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./Assets/fonts/Sofia\ Pro\ Semi\ Bold\ Az.woff");
}

@font-face {
  font-family: "SofiaPro";
  src: url("./Assets/fonts/Sofia\ Pro\ Regular\ Az.woff");
}

@font-face {
  font-family: "Sofia-Pro";
  src: url("./Assets/fonts/Sofia\ Pro\ UltraLight\ Az.woff");
}

body {
  background-color: hsla(174, 62%, 47%, 0.04);
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-top: 74px;
}

img {
  width: 38.67px;
  height: 40px;
  top: 74px;
  left: 24px;
  gap: 0px;
  opacity: 0px;
  box-shadow: 0px 4px 10px 0px #0000001A;
/* margin-bottom: 40px; */
}


@media only screen and (max-width: 375px) {

  body {
    background-color: hsla(174, 62%, 47%, 0.04);
    display: flex;
    flex-direction: column;
    margin-top: 74px;
    margin-left: 24px;
  }

  .hero-section {
    width: 327px;
    margin-bottom: 0;
  }
  
  img {
    display: block;
    width: 38.67px;
    height: 40px;
    /* margin-bottom: 40px; */
  }
  
.hero-section h2 {
  width: 327px;
  height: 50px;
  font-family: "Brown", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 29.4px;
  letter-spacing: -0.8px;
  color: #000b0a;
  margin-bottom: 12px;
}
  .desktop-text {
    display: none;
  }

  .mobile-text {
    display: contents;
  }
  
  .hero-section p {
    width: 327px;
    /* height: 50px; */
    font-family: "Brown", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #737373;
    margin-bottom: 40px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 25px;
  }

  .form-section {
    background-color: white;
    border-radius: 6px;
    width: 327px;
    box-shadow: 0px 4px 50px 0px #0408131a;
    margin-left: 24px;
  }
  
  form {
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name-group,
  .gender-dob-group,
  .weight-height {
    display: flex;
    flex-direction: column; 
    gap: 24px;
  }


  .input-group,
  .act-lev,
  .password {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 24px;
  }