@font-face {
  font-family: "Brown";
  src: url("./Assets/fonts/BrownHeavy\ Regular.ttf") format("ttf");
}

@font-face {
  font-family: "BrownHeavy";
  src: url("./Assets/fonts/BrownLight\ Regular.ttf");
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./Assets/fonts/Sofia\ Pro\ Semi\ Bold\ Az.woff");
}

@font-face {
  font-family: "SofiaPro";
  src: url("./Assets/fonts/Sofia\ Pro\ Regular\ Az.woff");
}

body {
  background-color: hsla(174, 62%, 47%, 0.04);
  display: flex;
  flex-direction: row;
}

.hero-section {
  width: 460px;
  height: 275px;
  margin-top: 205px;
  margin-left: 140px;
  margin-right: 120px;
}

img {
  display: block;
  margin-bottom: 50px;
}

.hero-section h2 {
  font-family: "Brown", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.8px;
  color: #000b0a;
  width: fit-content;
  height: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

.hero-section p {
  font-family: "BrownHeavy", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #737373;
  width: 460px;
  height: 75px;
}

.form-section {
  background-color: white;
  margin-top: 81px;
  border-radius: 6px;
  width: 580px;
  height: 679px; /*remove if content determines height*/
  box-shadow: 0px 4px 50px 0px #0408131a;
  /* margin: 40px; */
}

form {
  margin: 40px;
}

.name {
  display: flex;
  gap: 24px;
}

.input-group {
  display: flex;
}

label {
  margin-bottom: 8px;
  font-family: "Sofia Pro", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1px;
  color: #011c34;
  width: 159px;
}

.first-name {
  width: 238px;
  height: 48px;
  border: 3px solid #2ec4b6;
  border-radius: 2px;
}

input {
  width: 238px;
  height: 48px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}

input:focus {
  border: 3px #2ec4b6;
}
