/* .lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
} */


body {
  margin: 0;
  padding: 0;
  background-color: #f5f8fa;
}

header {
  margin: 28px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 200px;
  height: 39px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: 476px;
  height: 40px;
  padding: 0;
}

nav ul li {
  margin-right: 44px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #1d2c3c;
  padding: 0;
  height: 17px;
  font-family: lato;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: -0.01px;
}
