body {
  margin: 0;
  padding: 0;
  background-color: #f5f8fa;
}

header {
  margin: 28px 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 200px;
  height: 39px;
}

nav {
  height: 40px;
  padding: 0;
  margin: 0; 
  display: flex; 
  align-items: center; 
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 40px;
}

nav ul li {
  margin-right: 44px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #1d2c3c;
  padding: 0;
  height: 17px;
  font-family: lato;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: -0.01px;
}

nav ul li button {
  width: 91px;
  height: 40px;
  border: 2px solid #646e7a;
  border-radius: 6px;
  font-family: lato;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: -0.01px;
}

hr {
  margin: 31px 40px 0;
  height: 2px;
  border: none;
  background-color: #e0e6ea;
  padding: 0;
}
